/* Designed by Moisés Silva de Azevedo, São Paulo. */
.container {
    max-width: 1110px;
    margin: auto;
    padding: 1.6rem;
}

.glass {
    background: none;
    border: none;
    text-decoration: none;
}
button {
    cursor: pointer;
}
.primary {
    padding: 1rem;
    background-color: var(--soft-red);
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.32em;
    font-weight: 600;
    color: white;
    transition: all .2s;
}

.primary:hover {
    background-color: var(--very-dark-blue);
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

@media (min-width: 1110px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    
}

ul, ol, menu {
    list-style: none;
    padding-inline-start: 0;
}

a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

hr {
    border-color: var(--dark-grayish-blue);
}